@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your globals.css or the relevant CSS file */

/* Ensure AuroraBackground has a lower z-index */
.aurora-background {
  position: relative;
  z-index: 1;
}

/* Ensure Header has a higher z-index */
.header {
  position: relative;
  z-index: 2;
}
.drawer-open {
  transform: translateY(0);
}
  